.menulayout {
    height: 100%;
    width: 100%;
    background-color: #EDC0D7;
    display: grid;


    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "header header"
        "menulist submenu";
    padding: 10px;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

.menulist {
    grid-area: menulist;
    overflow: scroll;
    margin-right: 5px;

}

::-webkit-scrollbar {
    display: none;
}

.submenu {
    grid-area: submenu;
    display: grid;
    grid-template-columns: repeat(auto-fill, 96px);
    grid-template-rows: repeat(auto-fill, 96px);
    overflow: scroll;
    grid-gap: 5px;
}

.submenuitem {
    background-color: #EEEEEE;
    border-radius: 6px;
    width: 96px;
    height: 96px;
    background-repeat: no-repeat;
    background-position: 30% 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.upperpart {
    flex: 0 0 60%;
    position: relative;
}

.loverpart {
    flex: 0 0 40%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding: 10px;
}

.backm {
    height: 100%;
    width: 10%;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    background-image:
        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMUwyIDcuOTk5OTlMOSAxNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");


}

.titlem {

    width: 80%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;


    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.fullabacus {
    width: 10%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;

}

.menuitem {

    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 1px 1px 0px #000000;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    margin-bottom: 5px;
}

.menuicon {
    width: 19px;
    height: 19px;
    display: inline-block;
    background: #000000;
    vertical-align: middle;
    margin-right: 5px;
}

.itemtext {
    font-family: Rubik;
    font-style: normal;
    font-weight: inherit;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height, or 146% */

    text-align: justify;
    color: #000000;
}

.mactive {
    font-weight: 500;
    background-color: #EEEEEE;
    border: none;
    box-shadow: none;
    margin-bottom: 7px;
}

.angle {
    font-family: "Rubik";
    font-style: normal;
    font-weight: inherit;
    font-size: 20px;
}
.angle_small {
    font-family: "Rubik";
    font-style: normal;
    font-weight: inherit;
    font-size: 16px;
}
.submenuicon {
    margin-left: 10px;
    margin-top: 10px;
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 78% */
}

.gamestatus {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.completed {
    background-color: green;
}

.started {
    background-color: yellow;
}
