.value {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */

    display: flex;
    align-items: center;
    text-align: right;

    color: #000000;
    margin-right: 70px;
}

.text {
   
    font-family: Rubik;
    font-style: normal;
 
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 89% */

    display: flex;
    align-items: flex-start;
    text-align: left;

    color: #000000;

}