.spacer {
    height: 2%;
    width: 80%;

    background: grey;
}

.tt {
    font-family: "Rubik";
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #000000;
    margin-right: 30px;
}

.tt_min {
    font-size: 50px;
}

.tt_mid {
    font-size: 40px;
}


.tt_max {
    font-size: 29px;
}



.hline {
    width: 132px;
    height: 9px;
    color: white;
    background-color: white;

    border: none;
    border-radius: 6px;
}

.numbercont {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}